flow-http.json
[
    {
        "id": "81409254e922e10a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8e15d090efa057c",
        "type": "http in",
        "z": "81409254e922e10a",
        "name": "",
        "url": "/esp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "7ba9768470d9292f",
                "75c804e0f9518f9d",
                "f6d4935bf0bd73a1",
                "76b03cc9c6ca46de",
                "cdb1f5febea19a71",
                "1414663aeab6ccef",
                "c8176c21ec45027f",
                "d28794e16716db64",
                "7aa76ebb2e69b66c",
                "8482bc2d34b585e1",
                "397f1e605ab0c8e6",
                "ca26e3003291eeda",
                "d2a9dda799388ae4",
                "1b4c09c6ae6ec2fd",
                "c63bda4a0f2e7a76"
            ]
        ]
    },
    {
        "id": "7ba9768470d9292f",
        "type": "debug",
        "z": "81409254e922e10a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "f6d4935bf0bd73a1",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractLight()",
        "func": "msg.topic = \"light\";\nmsg.payload = msg.payload.status.light;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 360,
        "wires": [
            [
                "f664e0a16e504432",
                "11db4c4dd3494119"
            ]
        ]
    },
    {
        "id": "75c804e0f9518f9d",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractTemp()",
        "func": "msg.topic = \"temperature\";\nmsg.payload = msg.payload.status.temperature;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "49b787c0eb0db8ba",
                "bc55b60724f14c74",
                "c2605c6a40b9925d"
            ]
        ]
    },
    {
        "id": "76b03cc9c6ca46de",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractHeat()",
        "func": "msg.topic = \"heat\";\nmsg.payload = msg.payload.status.heat;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 440,
        "wires": [
            [
                "b008ed65945b1601"
            ]
        ]
    },
    {
        "id": "cdb1f5febea19a71",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractCold()",
        "func": "msg.topic = \"cold\";\nmsg.payload = msg.payload.status.cold;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 480,
        "wires": [
            [
                "1ad320ff038db213"
            ]
        ]
    },
    {
        "id": "1414663aeab6ccef",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractFire()",
        "func": "msg.topic = \"fire\";\nmsg.payload = msg.payload.status.fire;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 520,
        "wires": [
            [
                "b3c78eb573c04e2a"
            ]
        ]
    },
    {
        "id": "c8176c21ec45027f",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractSh()",
        "func": "msg.topic = \"sh\";\nmsg.payload = msg.payload.regul.sh;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 560,
        "wires": [
            [
                "fe67aea8145c8122"
            ]
        ]
    },
    {
        "id": "d28794e16716db64",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractSb()",
        "func": "msg.topic = \"sb\";\nmsg.payload = msg.payload.status.sb;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 600,
        "wires": [
            [
                "e9768991f86da525"
            ]
        ]
    },
    {
        "id": "7aa76ebb2e69b66c",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractUptime()",
        "func": "msg.topic = \"uptime\";\nmsg.payload = msg.payload.info.uptime;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 640,
        "wires": [
            [
                "d27f7555500d500b"
            ]
        ]
    },
    {
        "id": "8482bc2d34b585e1",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractSsid()",
        "func": "msg.topic = \"ssid\";\nmsg.payload = msg.payload.info.ssid;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 680,
        "wires": [
            [
                "248f2eda901f8422"
            ]
        ]
    },
    {
        "id": "397f1e605ab0c8e6",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractIdent()",
        "func": "msg.topic = \"ident\";\nmsg.payload = msg.payload.info.ident;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 720,
        "wires": [
            [
                "8b1b4652e5c7bd82"
            ]
        ]
    },
    {
        "id": "ca26e3003291eeda",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractIp()",
        "func": "msg.topic = \"ip\";\nmsg.payload = msg.payload.info.ip;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 760,
        "wires": [
            [
                "f96a978ed371956c"
            ]
        ]
    },
    {
        "id": "d2a9dda799388ae4",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractTargetIp()",
        "func": "msg.topic = \"target_ip\";\nmsg.payload = msg.payload.reporthost.target_ip;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 820,
        "wires": [
            [
                "266e3e0fd89437af"
            ]
        ]
    },
    {
        "id": "1b4c09c6ae6ec2fd",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractTargetPort()",
        "func": "msg.topic = \"target_port\";\nmsg.payload = msg.payload.reporthost.target_port;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 880,
        "wires": [
            [
                "8f0a230afa79b058"
            ]
        ]
    },
    {
        "id": "c63bda4a0f2e7a76",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "extractTargetSp()",
        "func": "msg.topic = \"sp\";\nmsg.payload = msg.payload.reporthost.sp;\nconsole.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 940,
        "wires": [
            [
                "83952c4551ee9610"
            ]
        ]
    },
    {
        "id": "3d52369cc13b797a",
        "type": "ui_widget_thermometer",
        "z": "81409254e922e10a",
        "group": "7c2b7a3f126ed578",
        "order": 1,
        "width": 10,
        "height": 5,
        "name": "",
        "title": "Kitchen",
        "numColor": 3,
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°C",
        "scale": "normal",
        "minTemp": 0,
        "maxTemp": 100,
        "x": 1170,
        "y": 180,
        "wires": []
    },
    {
        "id": "49b787c0eb0db8ba",
        "type": "ui_chart",
        "z": "81409254e922e10a",
        "name": "",
        "group": "7c2b7a3f126ed578",
        "order": 3,
        "width": 10,
        "height": 5,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "019806c6da6956be",
        "type": "ui_gauge",
        "z": "81409254e922e10a",
        "name": "",
        "group": "7c2b7a3f126ed578",
        "order": 2,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "0b16e989a4e2b1e6",
        "type": "ui_gauge",
        "z": "81409254e922e10a",
        "name": "",
        "group": "76d87962eda58394",
        "order": 2,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "f664e0a16e504432",
        "type": "ui_chart",
        "z": "81409254e922e10a",
        "name": "",
        "group": "76d87962eda58394",
        "order": 3,
        "width": 10,
        "height": 5,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b008ed65945b1601",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "64b07586.8c0c44",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Heat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "1ad320ff038db213",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "64b07586.8c0c44",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Cold",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "b3c78eb573c04e2a",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "64b07586.8c0c44",
        "order": 2,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Fire",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "fe67aea8145c8122",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "41eb1b3608495f49",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SH",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 560,
        "wires": []
    },
    {
        "id": "e9768991f86da525",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "41eb1b3608495f49",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SB",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 944,
        "y": 606,
        "wires": []
    },
    {
        "id": "d27f7555500d500b",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "93c723ca2e521061",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 952,
        "y": 642,
        "wires": []
    },
    {
        "id": "248f2eda901f8422",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "93c723ca2e521061",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 680,
        "wires": []
    },
    {
        "id": "8b1b4652e5c7bd82",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "93c723ca2e521061",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MAC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 720,
        "wires": []
    },
    {
        "id": "266e3e0fd89437af",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "48f837a405579340",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "target_ip",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 820,
        "wires": []
    },
    {
        "id": "f96a978ed371956c",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "93c723ca2e521061",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 760,
        "wires": []
    },
    {
        "id": "8f0a230afa79b058",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "48f837a405579340",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "target_port",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 970,
        "y": 880,
        "wires": []
    },
    {
        "id": "83952c4551ee9610",
        "type": "ui_text",
        "z": "81409254e922e10a",
        "group": "48f837a405579340",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "target_sp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 940,
        "wires": []
    },
    {
        "id": "bc55b60724f14c74",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "parseInt()",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 180,
        "wires": [
            [
                "3d52369cc13b797a"
            ]
        ]
    },
    {
        "id": "c2605c6a40b9925d",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "parseFloat()",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 300,
        "wires": [
            [
                "019806c6da6956be"
            ]
        ]
    },
    {
        "id": "11db4c4dd3494119",
        "type": "function",
        "z": "81409254e922e10a",
        "name": "parseFloat()",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 340,
        "wires": [
            [
                "0b16e989a4e2b1e6"
            ]
        ]
    },
    {
        "id": "7c2b7a3f126ed578",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "d338eebb.4a506",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "76d87962eda58394",
        "type": "ui_group",
        "name": "Light",
        "tab": "d338eebb.4a506",
        "order": 3,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "64b07586.8c0c44",
        "type": "ui_group",
        "name": "Status",
        "tab": "d338eebb.4a506",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "41eb1b3608495f49",
        "type": "ui_group",
        "name": "Regul",
        "tab": "d338eebb.4a506",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93c723ca2e521061",
        "type": "ui_group",
        "name": "Info",
        "tab": "d338eebb.4a506",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48f837a405579340",
        "type": "ui_group",
        "name": "Report Host",
        "tab": "d338eebb.4a506",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d338eebb.4a506",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]